/dataset/*
/dataset.zip
/samples/*
/experiments/samples/*
/experiments/current_tests/*

/best_model/*

main/animal/samples/
main/animal/img/
main/utils/image/gen_face_image.py

__pycache__/
experiments/__pycache__
experiments/tests/__pycache__
main/__pycache__
main/vectorFieldModels/__pycache__
main/utils/__pycache__
main/utils/NRDF/data/__pycache__
main/utils/NRDF/utils/__pycache__
main/utils/image/__pycache__
main/utils/sampling/__pycache__

main/flowMatchingModels/__pycache__
main/animal/__pycache__



