/models/*
/images/*
/dataset/*
/samples/*
/experiments/samples/*
/working_models/*


/best_model/*

main/animal/samples/
main/animal/img/

*/__pycache__
# /experiments/__pycache__
# main/animal/__pycache__
# main/FlowMatchingModels/__pycache__
# main/Utils/__pycache__
# main/VectorFieldModels/__pycache__
# main\Utils\Image\__pycache__
# main\Utils\Model\__pycache__
# experiments\sampling\__pycache__
# experiments\utils\__pycache__

